html{
    box-sizing: border-box;
    font-size: 62.5%; /*1Rem = 10px*/
}

*, *::before, *::after {
    box-sizing: inherit;
}


body{
    
    font-family: "raleway - sans-serif";
    font-size: 1.6rem;
    line-height: 2;

}
/*Globales*/

h1, h2, h3{
    font-family: "playfair", serif;
    margin: 0 0 5rem 0;
}
h1{
    font-size: 5rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3rem;
}
a{
    text-decoration: none;
    color: #000;
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

img{
    max-width: 100%;
    display: block;
}
.btn{
    background-color: #8cbc00;
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    padding: 1rem;
    transition: background-color .3s ease-out;
    text-align: center;
    border: none;
}
.btn:hover{
    background-color: #769c02;
    cursor: pointer;
}
/*Utilidades*/

.text-center{
    text-align: center;
}
.max-width-30{
    max-width: 30rem;
}

/* Header y Nav*/

.nombre-sitio{
    margin-top: 5rem;
    text-align: center;
}

.nombre-sitio span{
    color: #037bc0;

}

.contenedor-nav{

    border-top:  .1rem  solid #e1e1e1;

}

.nav-principal a:hover{
    text-decoration:underline ;
}

.nav-principal{
    
    padding: 2rem 0 2rem 0;
    display: flex;
    justify-content: space-between;
}

/*Hero Omage*/

.hero {
    background-image: url(./img/principal.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center center;;
    height: 55rem;

}


/*Categoria*/

.categorias{
    padding-top: 5rem;
}

.categoria a{
    display: block;
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
}
.categoria a:hover{
    background-color: #037bc0;
    color: #fff;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

/*Listado de Categorias*/

.listado-categoria{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

/* Sobre Nosotros */

.sobre-nosotros{
    margin-top: 5rem;
    background-image: linear-gradient(to right, 
    transparent 50%, 
    #037bc0 50%, 
    #037bc0 100%), 
    url(./img/nosotros.jpg);
    background-position: left center;;
    padding: 10rem 0 ;
    background-repeat: no-repeat;
    background-size: 100%, 120rem;
}
.sobre-nosotros-grid{
    display: flex;
    justify-content: flex-end;
}
.texto-nosotros{
    flex-basis: 50%;
    padding-left: 10rem;
    color: #fff;
}

/* Listado de Productos */

.contenido-principal{
    padding-top: 5rem;
}
.listado-productos{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;
}
.producto:nth-child(1){
    grid-column: 1 / 7;
    display: grid;
    grid-template-columns: 3fr 1fr;

}
.producto:nth-child(1) img{
    height: 43rem;
    width: 100%;
    object-fit: cover;
}
.producto:nth-child(2){
    grid-column-start: 1;
    grid-column-end: 4 ;
}
/*Aca aplicamos el cover directamente a las img de los productos 2 y 3 en el grid*/
.producto:nth-child(2) img,
.producto:nth-child(3) img{
    height: 30rem;
    width: 100%;
    object-fit: cover;
}
/********************************************************************/

.producto:nth-child(3){
    grid-column-start: 4;
    grid-column-end: 7 ;
}
.producto:nth-child(4){
    grid-column-start: 1;
    grid-column-end:  3;
}
.producto:nth-child(5){
    grid-column-start: 3;
    grid-column-end:  5;
}
.producto:nth-child(6){
    grid-column-start: 5;
    grid-column-end:  7;
}

.producto{
    background-color: #037bc0;
}
.texto-producto{
    padding: 2rem;
    text-align: center;
    color: #fff;
}
.texto-producto h3{
    margin: 0;
}
.texto-producto p{
    margin: 0 0 .5rem 0;
}
.texto-producto .precio{
    font-size: 2.8rem;
    font-weight: 900;
}

.texto-producto a{
    background-color: #8cbc00;
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    padding: 1rem;
    transition: background-color .3s ease-out;
}
.texto-producto a:hover{
    background-color: #769c02;
}

/*Footer*/
.site-footer h3{
    margin-bottom: .5rem;
}
.copyright{
    margin-top: 5rem;
    text-align: center;
}
.site-footer{
    border-top: 1px solid #e1e1e1;
    margin-top: 5rem;
    padding-top: 5rem;
}
.grid-footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
.footer-menu a{
display: block;
}

/*************************MEDIA QUERYS************************************/
@media (max-width: 768px) {
    
    .contenido-nosotros {
        padding: 20px;
        grid-template-columns: 1fr;
    }
}



@media (max-width: 1024px) {
    .categoria{
        padding: 20px;
    }
    .sobre-nosotros{
        padding: 20px;
    }
    .texto-nosotros {
        padding: 5px;
        flex-basis: 50%,
    }
    .titulo-productos{
        display: none;
    }
    .listado-productos{
        padding: 10%;
        gap: 2rem;
        display: flex;
        flex-direction: column;
    }
    
    }



@media (max-width: 1024px) {

    .site-footer h3{
        text-align: center;
    }
    .nav-principal {
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }

    .nombre-sitio {
        margin-top: 2rem;
    }

    .hero {
        height: 40rem;
    }

    .listado-categoria {
        grid-template-columns: repeat(2, 1fr);
    }

    .listado-productos {
        grid-template-columns: repeat(3, 1fr);
    }

    .sobre-nosotros {
        padding: 5rem 0;
        background-size: 100%, 100rem;
    }

    .texto-nosotros {
        
        padding-left: 2rem;
    }

    .footer-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}


@media (max-width: 600px) {
    .site-footer h3{
        text-align: center;
    }
    .grid-footer{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }
    body {
        font-size: 1.4rem; 
    }

    .nombre-sitio {
        font-size: 2.5rem;
    }

    .hero {
        height: 30rem;
    }

    .listado-categoria {
        grid-template-columns: 1fr;
    }


    .texto-nosotros {
        padding-left: 1rem;
        font-size: 1.4rem;
    }

    .btn {
        padding: 0.8rem;
    }

    .site-footer {
        padding-top: 3rem;
    }

    .copyright {
        margin-top: 3rem;
    }
}











/* SECCION NOSOTROS */

.contenido-nosotros{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-columns: repeat(auto-fit,minmax( 25rem,1fr ) ) ;
    column-gap: 4rem;
}

.informacion-nosotros{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* SECCION BLOG */


.contenedor-blog{
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 4rem;
}

.entrada{
    border-bottom: 2px solid #e1e1e1;
    padding-bottom: 4rem;
    margin-bottom: 2rem;
}

.entrada:last-of-type{
border: none;
}

.entrada-meta{
    display: flex ;
    justify-content: space-between;
}

.entrada-meta p{
    font-weight: 700;
}
.entrada-meta span{
    color: #037bc0;
}

.contenido-entrada-blog{
    width: 60rem;
    margin: auto;
}

@media (max-width: 768px) {
    
    .contenedor-blog{
        display: flex;
        flex-direction: column; 
        padding: 10%;           
        gap: 1.5rem; 
    }   
}

/*SECCION GALERIA*/

.galeria{
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}

.galeria img{
    width: 40rem;
    height: 40rem;   
    object-fit: cover;
}
@media (max-width: 480px) {
    .galeria{
        display: flex;
        flex-direction: column;
        padding: 10%;           
        gap: 1.5rem; 
    }   
}

@media (max-width: 768px) {
    
    .galeria{
        grid-template-columns: repeat(2,1fr);
        padding: 10%;           
        gap: 1.5rem; 
    }   
}





/*SECCION FORMULARIO*/

.formulario{
    max-width: 60rem;
    margin: 0 auto;

}
.formulario fieldset{
    border: 1px solid #0083fe;
    margin-bottom: 2rem;
}

.formulario legend{
    background-color: #037bc0;
    width: 100%;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 4rem;
}
.campo{
    display: flex;
    margin-bottom: 2rem;

}
.campo label{
    flex-basis: 10rem;
    width: 100%;
}
.data {
    width: 80%;
}

fieldset,  select, input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    background-color: #fff;
    transition: border-color 0.3s, box-shadow 0.3s;
    outline: none;
}


fieldset:hover  select:hover, input:hover {
    border-color: #5b9bd5;
    box-shadow: 0 0 8px rgba(91, 155, 213, 0.5);
}

input::placeholder {
    color: #999;
}
@media (max-width: 480px) {
    .formulario{
        padding: 10%;           
        gap: 1.5rem; 
    }   
}

@media (max-width: 768px) {
    
}
